.burger-container{
    min-height:600px;
    width: auto;
    display:flex;
    justify-content: center;
    font-family: Open Sans,sans-serif;
}

.burger{
    min-height: 600px;
    max-height:600px;
    width: 620px;
    min-height:400px;
    display:flex;
    flex-direction: column;
    background-color:white;
    overflow-y: auto;
    overflow-x:hidden;
    padding:10px;
    text-align: center;
}

.burger-parts{
    padding:8px;
}

.no-ingredients{
    height:27px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin:15px 0px;
}

.ingredients-section{
    font-family: Open Sans,sans-serif;
    background-color: #cf8f2e;
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.ingredients-block{
    display:flex;
    justify-content:center;
    text-align: center;
    padding:10px;
}

.ingredient-name{
    padding: 10px;
    margin:0px 5px;
    font-weight: 700;
    width: 80px;
    height:20px;
    text-align: left;
}

.more-btn{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    height: 40px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
    background-color: #8f5e1e;
    color: #fff;
}

.less-btn{
    height: 40px;
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
    background-color: #d39952;
    color: #fff;
}
.less-btn:disabled{
    background-color: #ac9980;
    border: 1px solid #7e7365;
    color: #ccc;
    cursor: default;
}

.sign-up-order-btn{
    width:235px;
    height:58px;
    background-color: #dad735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    -webkit-box-shadow: 2px 2px 2px #966909;
    box-shadow: 2px 2px 2px #966909;
}