.burger-container{
    min-height:600px;
    width: auto;
    display:flex;
    justify-content: center;
    font-family: Open Sans,sans-serif;
}

.burger{
    min-height: 600px;
    max-height:600px;
    width: 620px;
    min-height:400px;
    display:flex;
    flex-direction: column;
    background-color:white;
    overflow-y: auto;
    overflow-x:hidden;
    padding:10px;
    text-align: center;
}

.burger-parts{
    padding:8px;
    width:auto;
    height:auto;
}

.no-ingredients{
    height:27px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin:15px 0px;
}