.burger{
    min-height:600px;
    max-height:600px;
    display:flex;
    flex-direction: column;
    font-family: Open Sans,sans-serif;
    overflow-y: auto;
    overflow-x:hidden;
    margin:50px auto;
    width:630px;
}

.burger-parts{
    width:90%;
    height:auto;
    margin: 6px auto;
}
.burger-parts-lettuce{
    width:96%;
    height:auto;
    margin: 6px auto;
}
.burger-parts-Cheese{
    width:99%;
    height:auto;
    margin: 2px auto;
}


.no-ingredients{
    height:27px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin:7px 0px;
}